.tile {
    .tile__title {
        text-align: center;
        font-size: 0.8rem;
    }

    .tile__container {
        display: flex;
        margin: 1rem;
        justify-content: center;
        align-items: center;

        .tile__score {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 0.2rem;
        }

        .tile__percentage {
            margin-left: 0.2rem;

            &.positive {
                color: #8ee0ae;
            }

            &.negative {
                color: #E96C6E;
            }
        }
    }
}